.newsItem {
  display: flex;
}
.newsItem:nth-child(even) {
  background: whitesmoke;
}
.newsItem:nth-child(odd) {
  background: lightgray;
}
.listContainer {
  background: lightgray;
}
/* .upvote{
    margin: 0 10px;
} */
.upvote {
  margin: 5px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid gray;
  cursor: pointer;
}
.green {
  border-bottom-color: green;
}
.hideButton {
  text-decoration: underline;
  cursor: pointer;
}
.actionCol {
  text-decoration: none;
  cursor: default;
}
.rank {
  width: 5%;
}
.upvoteWrapper {
  width: 5%;
}
.storyTitle {
  width: 50%;
}
.author {
  width: 20%;
}
.text-center {
  text-align: center;
}
.stories-header {
  background: white;
  font-size: 16px;
  font-weight: bold;
}
.titleLink {
  color: #000;
  text-decoration: none;
}
